<div class="header-blocks fill">
    <div class="logo hb-1 col-5 col-md-4 col-lg-3">
        <a href="{{ urls.home }}">
            <img src="/images/logo/logo.png" alt="{{ site_name }}">
        </a>
    </div>
    {#<div class="hb-2 d-sm-none d-md-block col-md-4 col-lg-3 offset-lg-3 pl-0">#}
    {#<span class="fa fa-truck position-absolute"></span>#}
    {#<ul>#}
    {#<li>Wij versturen tot 20:30 uur</li>#}
    {#<li>Op voorraad? Morgen in huis.</li>#}
    {#<li><a href="/support">Lees de kleine lettertjes</a></li>#}
    {#</ul>#}
    {#</div>#}
    <div class="hb-3 col-7 col-md-5 col-lg-4 float-right">
        <div class="float-right">
            <span class="fa fa-phone position-absolute d-none d-sm-block"></span>
            <ul>
                <li>{{ lang.page_contact.phone }}</li>
                <li>Ma t/m vr 09:00—18:00</li>
                <li><a href="{{ urls.contact }}">Neem contact met ons op</a></li>
            </ul>
        </div>
    </div>
</div>