<footer id="footer" class="footer col-sm-12 col-xs-12">
    <div class="ftrtop" style="width: 100%;">
        <div class="col-sm-2 col-xs-6 mb-3 bottom-logo">
            <a href="/">
                <img src="/images/logo/logo_small.png" alt="{% if site_name is defined %}{{ site_name }}{% endif %}"/>
            </a>
        </div>
        <div class="col-sm-8 col-xs-12 mb-3">
            <!-- Pages menu -->
            {% include 'blocks/pages_menu.html.twig' %}
        </div>

        <!-- HEADER SOCIAL MEDIA ICONS -->
        {#<div>#}
            {#<div class="pull-right social">#}
                {#<a href="#" class="fa fa-facebook-square"></a>#}
                {#<a href="#" class="fa fa-twitter-square"></a>#}
                {#<a href="#" class="fa fa-google-plus-square"></a>#}
                {#<a href="#" class="fa fa-linkedin"></a>#}
            {#</div>#}
        {#</div>#}

    </div>
    <div class="col-sm-12 col-xs-12 mb-3 ftrbtm">
        <p>© {{ "now"|date('Y') }} - {{ lang.site_footer }} {{ site_name }}</p>
    </div>
</footer>