<footer class="footer">
    <p>© {{ "now"|date('Y') }} - Alle prijzen zijn inclusief BTW - Merknamen zijn alleen gebruikt om de toepasbaarheid van producten aan te geven en dienen verder niet te worden geassocieerd met {{ site_name }}</p>
</footer>