<header class="fill">
    {% include 'blocks/header/top_bar.html.twig' %}

    <div class="header-main fill">
        <div class="container no-padding">
            {% include 'blocks/header/header_blocks.html.twig' %}
        </div>
    </div>
</header>