<!DOCTYPE html>
<html lang="en">

{% include 'blocks/head.html.twig' %}

<body>
    <div class="full-page">
        <!-- Include header.html.twig -->
        {% include 'layouts/header.html.twig' %}

        <!-- Include nav.html.twig -->
        {% include 'layouts/nav.html.twig' %}

        <div id="content" class="content fill">
            <div class="container">
                <!-- Content block -->
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- Scroll back to top of page -->
    <a href="javascript:void(0);" class="return-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Include footer.html.twig -->
    {% include 'layouts/footer.html.twig' %}

    <!-- Cookieconsentbar -->
    {% include 'blocks/cookiebar.html.twig' %}

    <!-- POST JS SCRIPTS -->
    {% block post_js %}
        {% include 'dynamic/post_js.html.twig' %}
    {% endblock %}
</body>
</html>