<div class="col-12 masthead secondary-background">
    <div class="container">
        {% include 'blocks/nav/navbar.html.twig' %}
    </div>
</div>
<div class="nav-blocks fill d-none d-md-flex">
    <div class="container">
        <div class="row">
            {% include 'blocks/nav/nav_blocks.html.twig' %}
        </div>
    </div>
</div>
<div class="colorgraph fill"></div>
