:root {
    --primary-color: #d5d5d5 !important;
    --secondary-color: #e5e5e5 !important;
    --secondary-link-text-color: #777 !important;
    --shoppingcart-bg-color: #28a745 !important;
    --shoppingcart-text-color: #fff !important;
}