/**
 * =========================================================
 * DROPCART
 * =========================================================
 *
 * Permission is hereby granted, free of charge, to any person
 * obtaining a copy of this software and associated documentation
 * files (the "Software"), to deal in the Software without
 * restriction, including without limitation the rights to use,
 * copy, modify, merge, publish, distribute, sublicense, and/or
 * sell copies of the Software, and to permit persons to whom the
 * Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be
 * included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 * OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 * NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
 * BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
 * ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
 * CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *
 * ---------------------------------------------------------
 *
 * File: custom.css
 * Date: 27-02-18 12:00
 *
 * @author Dropcart <info@dropcart.nl>
 * @copyright © [2016 - 2018] Dropcart - All rights reserved.
 * @license MIT (https://opensource.org/licenses/MIT)
 * @version 3.0.0
 *
 * =========================================================
 */

@CHARSET "UTF-8";

/** Striped colorgraph */
/*.colorgraph {*/
  /*height: 5px;*/
  /*border-top: 0;*/
  /*background: #c4e17f;*/
  /*border-radius: 5px;*/
  /*background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);*/
  /*background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);*/
  /*background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);*/
  /*background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);*/
/*}*/

/** Smooth colorgraph */
.colorgraph {
	height: 5px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 17.5%, #f7fdca 25%, #fecf71 30%, #fecf71 37.5%, #f0776c 42.5%, #f0776c 50%, #db9dbe 55%, #db9dbe 62.5%, #c49cde 67.5%, #c49cde 75%, #669ae1 80%, #669ae1 87.5%, #62c2e4 92.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 17.5%, #f7fdca 25%, #fecf71 30%, #fecf71 37.5%, #f0776c 42.5%, #f0776c 50%, #db9dbe 55%, #db9dbe 62.5%, #c49cde 67.5%, #c49cde 75%, #669ae1 80%, #669ae1 87.5%, #62c2e4 92.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 17.5%, #f7fdca 25%, #fecf71 30%, #fecf71 37.5%, #f0776c 42.5%, #f0776c 50%, #db9dbe 55%, #db9dbe 62.5%, #c49cde 67.5%, #c49cde 75%, #669ae1 80%, #669ae1 87.5%, #62c2e4 92.5%, #62c2e4);
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 17.5%, #f7fdca 25%, #fecf71 30%, #fecf71 37.5%, #f0776c 42.5%, #f0776c 50%, #db9dbe 55%, #db9dbe 62.5%, #c49cde 67.5%, #c49cde 75%, #669ae1 80%, #669ae1 87.5%, #62c2e4 92.5%, #62c2e4);
}

html, body {
	height: 100%;
}

.body {
	min-height: 99%;
}

.logo {
	max-height: 130px;
	max-width: 270px;
	width: auto;
	height: auto;
}

.logo-small {
	max-height: 60px;
	max-width: 150px;
	width: auto;
	height: auto;
}

.bottom-logo {
	padding-left: 0px;
}

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}
.float-clear {
	clear: both !important;
}

.center {
	text-align: center;
}
.fill {
	max-width: 90%;
}
.fold {
	width: 1px;
	white-space: nowrap;
}
.product-list .fill {
	max-height: 12em;
}
.price .flag {
	margin-top: -5px;
}

.no-padding {
	padding:0 !important;
}
ul.nav.nav-pills.pages-menu {
		font-size: 12px;
	}

/* Fix sticky navbar in Firefox */
li .search-products {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 8px;
}

.product-id-table td, .product-id-table th {
	padding: 1px;
}
.product-list .row {
	margin-bottom: 5px;
}
.shopping-bag {
	margin-top: 2em;
}
.shopping-bag th {
	font-size: 1.1em;
	font-weight: bold;
}
.shopping-bag > tbody > tr {
	border-bottom: 1px solid #999;
}
.shopping-bag input {
	width: 6em;
}
.btn-bag-plus {
	padding: 1px 2px 0px 4px;
    border-radius: 12px;
}
.btn-bag-minus {
	margin-left: 2px;
	padding: 1px 3px 0px 3px;
    border-radius: 12px;
}
.next-step {
	margin-left: 6em;
	margin-right: 6em;
}
.next-step > * {
	margin-top: 8pt;
	width: 70%;
}
.table>tfoot>tr>td:not(.totals-column), .table>tfoot>tr>th {
	border: 0;
}
.order-tabs {
	margin-bottom: 2em;
}
.next-step .confirm {
	line-height: 2.5em;
	padding-left: 2.5em;
}
.next-step .confirm input {
	height: 2em;
	width: 2em;
    margin-left: -2.5em;
    cursor: pointer;
}
.next-step p {
	text-align: center;
}
.double-input {
	margin-top: -19px;
}
.no-weight {
	font-weight: normal;
}
.pagination-block {
	text-align: center;
}
.pagination-block .pagination {
	vertical-align: middle;
}
.pagination-block .info {
	padding-left: 12pt;
	padding-right: 12pt;
}

/*!* Override Bootstrap *!*/
/*.nav-justified {*/
	/*max-height: none !important;*/
	/*border-radius: 2px;*/
/*}*/
/*.nav > li.disabled > a:hover {*/
    /*cursor: default;*/
    /*border-color: transparent;*/
/*}*/

/* Override Bootstrap */
.navbar {
	border: 0;
	margin-bottom: 0;
	transition: top 0.2s ease-in-out;
}
.nav-justified {
	max-height: none !important;
	border-radius: 2px;
}
.nav .form-group {
	margin-bottom: 0;
}
.nav > li.disabled > a:hover {
	cursor: default;
	border-color: transparent;
}
.nav .dropdown-menu {
	min-width: 100%;
}
.nav .dropdown-menu>li>a:focus, .nav .dropdown-menu>li>a:hover {
	background-color: #ddd;
	background-image: none;
}

/* NAV STYLES */
.nav-plain>.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background-color: #ddd;
	box-shadow: inset 1px 1px 1px 0px #aaa;
}
.nav-plain > li {
	border: 0;
}
/*.nav-2 .search-products {*/
/*border-top:1px solid #ddd;*/
/*}*/
.nav-plain > li:first-child, .nav-justified > li:first-child > a {
	border-left: 0;
	border-radius: 2px 0 0 2px;
}
.nav-plain > li:last-child, .nav-justified > li:last-child > a {
	border-left: 0;
	border-radius: 0 2px 2px 0;
	margin-right: -1px;
}
.navbar #search {
	padding: 8px;
}
.nav-plain {
	background-color: #F5F5F5;
	border: 1px solid #ddd;
	background-image: none;
}
.nav-plain #shoppingcart {
	/*text-align: center;*/
}
.nav-plain #shoppingcart a {
	color: #777;
}
.nav-plain #shoppingcart .dropdown-menu {
	right:0;
}

#cart {
	text-align: right;
	margin-top: -4px;
	/*margin-bottom: 10px;*/
}

.sticky {
	position: fixed;
	top: 0;
	z-index: 1000;
    /* fallback width */
    width: 62%;
}

/* Filter box */
.filter-box {
    padding: 0px;
	margin-top: 48px;
}

.filter-box .panel.panel-default {
	border-radius: 4px;
}

.filter-box .panel-title {
	font-weight: bold;
	font-size: 12px;
}

.global-search-title {
	/*margin-top: 70px;*/
	font-weight: bold;
}

.search-category.input-group {
	margin-top: 20px;
	margin-bottom: 30px;
}

.align-right {
	text-align: right;
}

.table>tfoot>tr>td.totals-column, .table>tbody>tr>td.totals-column {
	border-bottom: 2px solid #D0D0D0;
	border-top: 0;
	padding: 8px;
	padding-bottom: 0;
}

h4.totals-h4 {
	color: black;
	font-weight: bold;
	margin: 0;
}

p.totals-paragraph {
	color: black;
	font-weight: bold;
}

.site-slug-header {
	height: 40px;
}

/** Social media icon styling */
.ftrtop .social {
	text-align: right;
}
.social a:focus {
	color: #fff;
	/*box-shadow: inset 0px 0px 8px 4px #337ab7;*/
	/*background: #23527c;*/
	text-decoration: none;
}
.fa {
	padding: 5px;
	font-size: 40px;
	width: 24px;
	text-align: center;
	text-decoration: none;
	margin: 0px;
}

.fa:hover {
	opacity: 0.9;
	color: #fff;
	text-decoration: none;
}

.fa-facebook-square {
	background: #3B5998;
	color: white;
}

.fa-twitter-square {
	background: #55ACEE;
	color: white;
}

.fa-google-plus-square {
	background: #dd4b39;
	color: white;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}

/** Footer styling */
footer ul {
	list-style-type: none;
}
footer li {
	float: left;
}
footer li a {
	display: block;
	color: #333;
	text-align: center;
	padding: 5px 20px 5px 0;
}
.footer {
	margin-top: 0px;
	padding-top: 12px;
}
.footer, .push {
	float: left;
	padding-bottom: 0;
}
.ftrtop {
	/*padding-bottom: 50px;*/
	height: auto;
}
.ftrtop .social {
	text-align: right;
}
.ftrbtm {
	background: #f5f5f5;
	font-size: 12px;
	padding-top: 0px;
	border-radius: 2px 2px 0 0;
	border: 1px solid #ddd;
	margin-top:10px;
}
.ftrbtm p {
	margin-bottom: 0;
	padding: 5px 0;
}

/* Product overview */
.floating-box {
	margin: 0 0 10px 0;
	padding: 10px 0;
}

/** Product text / description styling */
/* styles for '...' */
.block-with-text {
	/* hide text if it more than N lines  */
	overflow: hidden;
	/* for set '...' in absolute position */
	position: relative;
	/* use this value to count block height */
	line-height: 1.2em;
	/* max-height = line-height (1.2) * lines max number (3) */
	max-height: 3.6em;
	/* fix problem when last visible word doesn't adjoin right side  */
	text-align: justify;
	/* place for '...' */
	margin-right: -1em;
	padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
	/* points in the end */
	content: '...';
	/* absolute position */
	position: absolute;
	/* set position to right bottom corner of block */
	right: 0;
	bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
	/* points in the end */
	content: '';
	/* absolute position */
	position: absolute;
	/* set position to right bottom corner of text */
	right: 0;
	/* set width and height */
	width: 1em;
	height: 1em;
	margin-top: 0.2em;
	/* bg color = bg color under block */
	background: white;
}
/* Product description */
.product-list .fill {
	max-height: 12em;
}
.price .flag {
	margin-top: -5px;
}
.product-title-link {
	margin-top: 5px;
	margin-bottom: 5px;
}
.product h3 {
	font-weight: 600;
}
.product-list .row {
	margin-bottom: 10px;
}
.product-price {
	height: 200px;
	/*background: #f5f5f5;*/
	padding: 10px;
	/* text-align: center; */
	/*border: 1px solid #ddd;*/
}

/* Product description */
p.pdesc {
	margin: 5px 0 0 0;
}
p.pdescfull {
	min-height: 73px;
	max-height: 73px;
	overflow: auto;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.price-box {
	height: 140px;
	padding: 15px 10px;
	text-align: left;
}
.price {
	color: #333;
	margin: 0 0 10px 0;
	font-weight: 300;
}

@media screen and (min-width: 769px) {
	.content {
		padding-top: 52px;
	}
	.slogan {
		height: 40px;
	}
	.price-box {
		margin-left: -15px;
	}
}

@media screen and (max-width: 768px) and (min-width: 469px) {
	.sticky {
		/*left: 0;*/
		/*right: 0;*/
	}
	.content {
		padding-top: 52px !important;
	}
	.global-search-title {
		margin-top: 20px;
	}

	.price-box {
		height:auto;
		padding:10px 15px 0;
		float: left;
		width:100%;
	}
	.price-box .order {
		width:65%;
		float: left;
		padding: 3px 10px;
	}
	.price-box .order a {
		width: fit-content;
	}
	.price {
		margin: 0 !important;
	}
	.small-price {
		width: 35%;
		float: left;
		padding-right: 15px;
	}
	.small-price .price {
		float: right;
	}
	.small-price p {
		margin:0 !important;
		float: right;
	}
	.product-middle {
		padding-right: 15px;
		width: 65%;
		float: left;
	}
	.product-middle h3 {
		margin-top: 20px;
	}
	.product h3 {
		font-size: 23px;
	}
	.product tr {
		float: left;
	}
	.product .product-desc {
		margin-left:0 !important;
		padding: 0 15px;
		min-height: 270px;
	}
	.product img {
		min-width: 100%;
	}
	.product-price {
		height:auto;
		margin-bottom: 20px;
		float: right;
	}
	.product-image {
		width: 35%;
		float: left;
		padding: 0;
	}
	.product-list .product-details {
		float: left !important;
	}
}

@media screen and (max-width: 468px) {
	body {
		font-size: 125%
	}
	.content {
		padding-top: 100px;
	}
	.full-width {
		width: 100% !important;
	}
	.logo {
		max-height: 130px;
		max-width: 180px;
		width: auto;
		height: auto;
	}
	.header {
		padding-top: 10px;
	}
	.header #cart {
		padding: 10px 0;
	}
	.header #cart h3 {
		margin:0;
	}
	.slogan {
		height: 50px;
	}
	h1{
		font-size: xx-large;
	}
	h3 {
		font-size:20px;
	}

	.nav-plain #shoppingcart .dropdown-menu {
		/*margin-left: -80px;*/
	}
	.nav-pills>li>a {
		padding: 5px 10px;
	}

	.xs-menu {
		left:0;
	}
	.filter-box {
		margin-top: 25px;
	}
	footer {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	footer ul {
		padding:0;
	}
	footer ul li {
		padding-left:0 !important;
	}
	.ftrtop .social {
		padding: 0;
		margin-top: -4%;
	}
	.ftrtop .social a {
		float: left;
		margin: 2px;
	}

	.price-box {
		height:auto;
		padding:10px 15px 0;
		float: left;
		width:100%;
	}
	.price-box .order {
		width:65%;
		float: left;
		padding: 3px 10px;
	}
	.price-box .order a {
		width: fit-content;
	}
	.price {
		margin: 0 !important;
	}
	.small-price {
		width: 35%;
		float: left;
	}
	.small-price p {
		margin:0 !important;
	}
	.product-middle {
		padding-right: 15px;
		width: 65%;
		float: left;
	}
	.product-middle h3 {
		margin-top: 0;
	}
	.product h3 {
		font-size: 23px;
	}
	.product tr {
		float: left;
	}
	.product .product-desc {
		margin-left:0 !important;
		padding: 15px 15px;
	}
	.product img {
		min-width: 100%;
	}
	.product-price {
		height:auto;
		margin-bottom: 20px;
	}
	.product-image {
		width: 35%;
		float: left;
		padding: 0;
	}
	.product-list .product-details {
		float: left !important;
	}
}

@media screen and (max-width: 350px) {
	body {
		font-size: 100%;
	}
	h1,h2,h3,h4,h5 {
		font-size:175%;
	}
}