{% block ajax_shoppingcart %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".product-quantity").val(1);
        });

        $(".product-quantity").on('change', function () {
            if($.isNumeric(this.value) && this.value > 0) {
                var currentValue = $(this).val();
                $(this).val(currentValue);
            } else {
                $(this).val(1);
            }
        });

        $('.order-link').on('click', function (event) {
            event.preventDefault();

            // Checks if cart is empty
            if($(".cart-no-products").length) {
                $cartReplaceContent = "<span class=\"cart-items\"><span class=\"total-quantity\">0</span> artikel(en)</span>\n" +
                    "        - <span class=\"cart-total\">&euro;&nbsp;<span class=\"cart-total-amount\">{{ 0|number_format(2, ',', '.') }}</span></span>";
                $(".cart-content").html($cartReplaceContent);
            }

            // Gives ID and Price of clicked element
            $productId = event.target.getAttribute('data-product-id');
            $productPrice = parseFloat(event.target.getAttribute('data-product-price')).toFixed(2);

            // Change current cart content to float
            $cartReplaceComma = $(".cart-total-amount").html().replace(',','.');
            $cartTotalAmount = parseFloat($cartReplaceComma);

            // Calculations for quantity and price in cart
            $quantity = parseInt($(this).closest('.select-quantity').find('.product-quantity').val());
            $productTotalPrice = $quantity * $productPrice;
            $cartPlusProduct = parseFloat($cartTotalAmount + $productTotalPrice).toFixed(2).replace('.',',');
            $productTotalQuantity = parseInt($('.total-quantity').html()) + $quantity;

            // Replace cart content
            $(".total-quantity").html($productTotalQuantity);
            $(".cart-total-amount").html($cartPlusProduct);

            // Scroll page to top
            $('html, body').animate({
                'scrollTop': $(".colorgraph").position().top
            });

            // Animation to cart
            $(this).effect(
                "transfer", {
                    to: $('.glyphicon-shopping-cart')
                },
                1000
            );

            $.ajax({
                url: '{{ lang.url.shopping_cart_add }}' + $productId + '/' + $quantity,
                type: "POST", //send it through get method
                success: function (data) {
                    // Success

                }
            });
        });
    </script>
{% endblock %}