<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index,follow">

    <title>
        {% if page_title is defined %}
            {{ page_title }} -
        {% elseif title is defined %}
            {{ title }} -
        {% endif %}

        {% if site_name is defined %}
            {{ site_name }}
        {% else %}
            Een Dropcart webshop
        {% endif %}
    </title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ base_url }}/images/favicon.ico"/>

    <!-- STYLES -->
    {% block stylesheets %}
        {% include 'dynamic/styles.html.twig' %}
    {% endblock %}

    <!-- PRE JS SCRIPTS -->
    {% block pre_js %}
        {% include 'dynamic/pre_js.html.twig' %}
    {% endblock %}
</head>