<nav class="float-right">
    <ul class="nav nav-pills">
        <li><a href="{{ lang.url.contact }}">Contact</a></li>
        <li><a href="{{ lang.url.about_us }}">Over ons</a></li>
        <li><a href="{{ lang.url.support }}">Support en FAQ</a></li>
        <!--<li><a href="<?= route('account', ['locale' => loc()]); ?>"></a></li>-->
    </ul>
</nav>