<nav class="float-right">
    <ul class="nav nav-pills">
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about-us">Over ons</a></li>
        <li><a href="/support">Support en FAQ</a></li>
        <!--<li><a href="<?= route('account', ['locale' => loc()]); ?>"></a></li>-->
    </ul>
</nav>