{% extends "layouts/layout.html.twig" %}

{%  block content %}
    <div class="jumbotron">
        <h1>Een Dropcart Store</h1>
        <p class="lead">
            De Store voor jou!
        </p>
    </div>
{% endblock %}