{% extends "layouts/layout.html.twig" %}

{% block content %}

    <div class="jumbotron">
        <h1>{{ site_name }}</h1>
        <p class="lead">
            {{ site_slug }}
        </p>

        <div class="container">
            <div class="col-md-6">
                <p>
                    {{ lang.page_home.left_block }}
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    {{ lang.page_home.right_block }}
                </p>
            </div>
        </div>
    </div>

{% endblock %}